<footer id="footer" class="data-footer">
  <div class="footer-content">
    <div class="content">
    {% block footer_content %}
    {% block footer_links %}
            {% endblock %}

    <div class="footer-column logo">
        
          <a href="{{ h.url('home.index') }}">
               <img src="{{ h.url_for_static('/images/png/climpact-logo-white.png') }}" alt="" >
          </a>
    </div>
    <div class='footer-column'>
      <a >
        <img class="eu-logo" src="{{ h.url_for_static('/images/jpg/eu-logo.jpg') }}"  />
      </a>
    </div>
        <div class="footer-column members">
          <div><a href="https://climpact.gr/main/">{{_('Members Area')}}</a></div>
        
      </div>
      
    </div>
      <div class="copyright-notes">
        © 2020 CLIMPACT. All rights reserved.
      </div>
    </div>
    
 {% endblock %}

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
