<div class="page__sidebar page__sidebar--padding-top page__sidebar--mobilebottom">
<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('What are Publishers?') }}
    </h2>
    <div class="module-content">
      <p>
        {% trans %}
        Publishers are sectoral, institutional, or thematic catalogues
        and repositories responsible for the primary and sustained provision
        of datasets. HELIX harvests metadata and datasets from Publishers’ services,
        making them available to the scientific community from a single endpoint.
        {% endtrans %}
        
      </p>
    </div>
  </div>
  </div>