<ul>
    <li><a href="/" class="active">HOME</a></li>
    <li class="has-submenu">
        <a href="#">ABOUT</a>
        <ul class="submenu">
            <li><a href="https://climpact.gr/overview" class="active">OVERVIEW</a></li>
            <li><a href="https://climpact.gr/targets">TARGETS</a></li>
            <li><a href="https://climpact.gr/committee">MANAGEMENT COMMITTEE</a></li>
            <li><a href="https://climpact.gr/scommittee">SCIENTIFIC COMMITTEE</a></li>
            <li><a href="https://climpact.gr/work-packages">WORK PACKAGES</a></li>
            <li><a href="https://climpact.gr/deliverables">DELIVERABLES</a></li>
        </ul>
    </li>
    <li class="has-submenu">
        <a href="#">NETWORK</a>
        <ul class="submenu">
            <li><a href="https://climpact.gr/core">CORE</a></li>
            <li><a href="https://climpact.gr/associate">ASSOCIATE</a></li>
            <li><a href="https://climpact.gr/join">JOIN</a></li>
        </ul>
    </li>
    <li><a href="/dataset">DATA</a></li>
    <li><a href="https://climpact.gr/services">APPLICATIONS</a></li>
    <li><a href="https://climpact.gr/events">NEWS & EVENTS</a></li>
</ul>