<ul>
    <li><a href="https://climpact.gr/main/" >{{_('Home')}}</a></li>
    <li class="has-submenu">
        <a href="https://climpact.gr/main/">{{_('About the project')}}</a>
        <ul class="submenu">
            <li><a href="https://climpact.gr/about/overview">{{_('Overview')}}</a></li>
            <li><a href="https://climpact.gr/about/targets">{{_('Targets')}}</a></li>
            <li><a href="https://climpact.gr/about/committee">{{_('Management Committee')}}</a></li>
            <li><a href="https://climpact.gr/about/scientifit-committee">{{_('Scientific Committee')}}</a></li>
            <li><a href="https://climpact.gr/about/work-packages">{{_('Work Packages')}}</a></li>
            <li><a href="https://climpact.gr/about/deliverables">{{_('Deliverables')}}</a></li>
        </ul>
    </li>
    <li class="has-submenu">
        <a href="#">{{_('Network')}}</a>
        <ul class="submenu">
            <li><a href="https://climpact.gr/network/core">{{_('Members')}}</a></li>
            <li><a href="https://climpact.gr/network/research-groups">{{_('Research Groups')}}</a></li>
            <li><a href="https://climpact.gr/network/associate">{{_('Affiliated Members')}}</a></li>
            <li><a href="https://climpact.gr/network/join">{{_('Join')}}</a></li>
        </ul>
    </li>
    <li class="has-submenu"><a href="/dataset" class="active">{{_('Data')}}</a>
        <ul class="submenu">
            <li><a href="/organization">{{_('Publishers')}}</a></li>
        </ul>
    </li>
    <li ><a href="https://climpact.gr/applications/overview">{{_('Applications')}}</a>
    </li>
    <li class="has-submenu"><a href="#">{{_('News and Events')}}</a>
        <ul class="submenu">
            <li><a href="https://climpact.gr/news-events/workshops">{{_('Workshops')}}</a></li>
            <li><a href="https://climpact.gr/news-events/newsletter">{{_('Newsletter')}}</a></li>
            <li><a href="https://climpact.gr/news-events/podcast">{{_('Podcasts')}}</a></li>
            <li><a href="https://climpact.gr/news-events/dialogue-forum">{{_('Dialogue Forum')}}</a></li>
            <li><a href="https://climpact.gr/news-events/press-releases">{{_('Press Releases')}}</a></li>
            <li><a href="https://climpact.gr/news-events/announcements">{{_('Announcements')}}</a></li>
            <li><a href="https://climpact.gr/news-events/climpact-on-media">{{_('Climpact in the Media')}}</a></li>
        </ul>
    </li>
</ul>