{#
Displays a single of dataset.

package        - A package to display.
item_class     - The class name to use on the list item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).

Example:

  {% snippet 'snippets/package_item_home.html', package=c.datasets[0] %}

#}
{% set truncate = truncate or 230 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = package.title_optional or package.title %}
{% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}
{% set created = package.metadata_created %}

{%if package.dataset_category %}
{% set dataset_category = package.dataset_category[0]%}
{%  if dataset_category=='GEO'%}
{% set tag_tooltip ='Geospatial dataset' %}
{%  elif dataset_category=='BIO'%}
{% set tag_tooltip ='Biological dataset' %}
{%  elif dataset_category=='STAT'%}
{% set tag_tooltip ='Statistical dataset' %}
{% endif%}
{% endif%}

<div class="data__item">
  {% block package_item_content %}
  <div class="data__item__info">
    {# {% if package.groups %}
          {% set group = package.groups[0] %} 
          <div>{{ h.friendly_date(modified|urlize)}} @ <span> <a href={{ h.url_for(controller='group', action='read', id= group.name) }}> {{group.title|urlize }}</span></div> </a>
          {% else %}
          <div>{{ h.friendly_date(modified|urlize)}} </div>
          {% endif %}
          #}
    {#<div>{{ h.friendly_date(modified|urlize)}} </div>#}
    <div>{{_('Publication:')}} {{ h.render_datetime(created, date_format='%d-%m-%Y') }}</div>
  </div>


  {#<div class="btn-save">
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="Save">
             
              <img class="" src="/images/png/save.png"> 
            </a>
      </div> 
      <div class="btn-favorite">
          <a href=""  data-toggle="tooltip" data-placement="bottom" target="_blank" title="Favorite" >
            <img class="" src="/images/png/favorite.png">
          </a></div>
        #}
  <div class="data__item__title">
    {% if package.private %}
    <span class="btn--simple dataset-private label label-inverse">
      {{ _('Private') }}
    </span>
    {% endif %}

    {{ h.link_to(h.truncate(title, truncate_title), h.url_for(controller='package', action='read', id=package.name)) }}
  </div>
  {#<div class="pill data">
                DATA
          </div> #}
  {% if package.get('state', '').startswith('draft') %}
  <span class="label label-info">{{ _('Draft') }}</span>
  {% elif package.get('state', '').startswith('deleted') %}
  <span class="label label-important">{{ _('Deleted') }}</span>
  {% endif %}
  {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
  {% if banner %}
  <span class="banner">{{ _('Popular') }}</span>
  {% endif %}
  {#{% if notes %}
      <div class="notes"> {{ notes |urlize }} </div>
      {% endif %} #}

  {% if package.organization %}
  <div class="data__item__info">
    <a href={{ h.url_for(controller='organization', action='read', id= package.organization.name)}}>
      {{ package.organization.title|urlize }}</a>
  </div>
  {% endif %}

  {% if package.notes_optional %}
  <div class='data__item__info__notes'> 
    {{ h.truncate(package.notes_optional, 565) }}
  </div>
  {% endif %}

  {% block package_item_resources %}
  {% if package.resources and not hide_resources %}
  {#<ul>
    {%if package.dataset_category %}
    <li><a class="btn btn--simple btn--noback"
        href="{% url_for controller='package', action='search', q=dataset_category %}" data-toggle="tooltip"
        data-placement="bottom" title="{{tag_tooltip}}">{{dataset_category}}</a></li>
    {% endif%}
    {% if package.organization.name =='geodata.gov.gr' %}
    <li> <a class="btn btn--simple btn--noback" data-toggle="tooltip" data-placement="bottom"
        title="Data available by a public authority  with an open license">{{ _('PUBLIC') }} </a></li>
    {% endif %}
    <li><a class="btn btn--simple" data-toggle="tooltip" data-placement="bottom"
        title="Data available with an open license">{{ _('OPEN') }} </a></li>
    {% for resource in package.resources %}

    <li><a class="btn btn--simple btn--noback"
        href="{{ h.url_for(controller='package', action='resource_read', id=package.name, resource_id=resource.id) }}"
        data-format="{{ resource.format }}">{%if resource.format  %} {{ resource.format|upper }}
        {% endif%}
      </a></li>

    {% endfor %}
  </ul>#}
  {% endif %} {# package.resources #}



  {% endblock %} {# package_item_resources #}

  {% endblock %}
</div>